@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png");
}

.title {
  font-family: "Righteous", Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}

.container {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.listGroup::-webkit-scrollbar {
  width: 10px;
}

.listGroup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.listGroup::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.493);
  border-radius: 3px;
}
